@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-slow-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-spin-slow-reverse {
  animation: spin-slow-reverse 10s linear infinite;
}


@tailwind base;
@tailwind components;
@tailwind utilities;